.list {
    width: 63vw;
    height: 80vh;
    margin: 0;
    padding: 0;
    margin-left: 20px;
}

.container {
    margin: 0;
    padding: 0;
    margin-left: 20px;
}

#title {
    background-color: #DFE8CC;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
}

#title2 {
    background-color: #DFE8CC;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    font-weight: 600;
    margin-top: 30px;
    margin-bottom: 35px;
}

#column-1 {
    padding: 0;
}

#column-button {
    padding-left: 0;
    padding-top: 20px;
    display: flex;
    flex-direction: row;
}

#reset_button {
    margin-left: 15px;
}

#search_button {
    margin-left: 30px;
}

.pages {
    font-weight: 500;
    font-size: 15px;
    margin-bottom: 13px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.results {
    margin: 0;
    padding: 0;
    margin-left: 10px;
}

.back {
    margin-left: 10px;
    margin-right: 5px;
}

.btn