<div class="list">
    <div class="container text-center">
        <div class="row" id="title">
            Charging Point
        </div>
        <div class="row">
            <div class="col-2" id="column-1">
                <div class="mb-3">
                    <label for="id" class="form-label"></label>
                    <input #id type="text" class="form-control" id="id" placeholder="ID">
                </div>
            </div>

            <div class="col-4" id="column">
                <div class="mb-3">
                    <label for="operator" class="form-label"></label>
                    <input type="text" class="form-control" id="operator" placeholder="Operator">
                </div>
            </div>
        </div>
    
        <div class="row">
            <div class="col-4" id="column-1">
                <div class="mb-3">
                    <label for="street" class="form-label"></label>
                    <input type="text" class="form-control" id="street" placeholder="Street">
                </div>
            </div>

            <div class="col-2" id="column">
                <div class="mb-3">
                    <label for="houseNumber" class="form-label"></label>
                    <input type="text" class="form-control" id="houseNumber" placeholder="House Number">
                </div>
            </div>
        </div>
            
    
        <div class="row">
            <div class="col-1" id="column-1">
                <div class="mb-3">
                    <label for="zipCode" class="form-label"></label>
                    <input type="text" class="form-control" id="zipCode" placeholder="Zip Code">
                </div>
            </div>

            <div class="col-5" id="column">
                <div class="mb-3">
                    <label for="city" class="form-label"></label>
                    <input type="text" class="form-control" id="city" placeholder="City">
                </div>
            </div>
        </div>
    
        <div class="row">
            <div class="col-3" id="column-1">
                <div class="mb-3">
                    <label for="power" class="form-label"></label>
                    <input type="text" class="form-control" id="power" placeholder="Power">
                </div>
            </div>

            <div class="col-3" id="column">
                <div class="mb-3">
                    <label for="ports" class="form-label"></label>
                    <input type="text" class="form-control" id="ports" placeholder="Number of Ports">
                </div>
        </div>
        
        <div class="col-3" id="column-button">
            <div class="mb-3">
                <button class="btn btn-success btn-lg" (click)="getValues(id.value)">Search</button>
            </div>
        </div>
    </div>

        <div class="row" id="title2">
            Results
        </div>
    </div>

    <div class="results" *ngIf="chargingData && chargingList" >

        <div class="pages">
            <span>
                Showing {{ numberResult }} of 30397
            </span>
            <div class="back">
                <button (click)="goBack()" type="button" class="btn btn-outline-dark btn-sm">Show less</button>
            </div>
            <div class="next">
                <button (click)="goNext()" type="button" class="btn btn-outline-dark btn-sm">Show more</button>
            </div>
            
        </div>

        <table class="table">
            <thead class="table-light">
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Operator</th>
                <th scope="col">Street</th>
                <th scope="col">House Number</th>
                <th scope="col">Zip Code</th>
                <th scope="col">City</th>
                <th scope="col">Power</th>
                <th scope="col">Ports</th>
                <th scope="col">Mark Position</th>
              </tr>
            </thead>
            <tbody>
                <tr *ngFor="let f of [].constructor(numberResult); let i = index">
                    <th scope="row">{{ chargingList[i].id }}</th>
                    <td>{{ chargingList[i].operator }}</td>
                    <td>{{ chargingList[i].street }}</td>
                    <td>{{ chargingList[i].house_number }}</td>
                    <td>{{ chargingList[i].zip_code }}</td>
                    <td>{{ chargingList[i].city }}</td>
                    <td>{{ chargingList[i].power }}</td>
                    <td>{{ chargingList[i].number_ports }}</td>
                    <td>
                        <button type="button" class="btn btn-outline-success">Add Marker</button>
                    </td>
                </tr>
            </tbody>
          </table>
    </div>


    

</div>